<apex:page controller="CTRL17_GoogleDriveBroswer"  sidebar="false" showheader="false" doctype="html-5.0" title="Docomotion - Generation"
applybodytag="true">
        <script src="{!URLFOR($Resource.DocomotionJS,'docomotionJS/apps/Js/angular.min.js')}"></script>
        <script src="{!URLFOR($Resource.DocomotionJS,'docomotionJS/apps/Js/ui-bootstrap.js')}"></script>  
        <script src="{!URLFOR($Resource.DocomotionJS,'docomotionJS/VF17/js/app.js')}"></script>
        <script src="{!URLFOR($Resource.DocomotionJS,'docomotionJS/VF17/js/services/remoteUtils.js')}"></script>
        <script src="{!URLFOR($Resource.DocomotionJS,'docomotionJS/VF17/js/controllers/GdriveCtrl.js')}"></script>
        <link href="{!URLFOR($Resource.DocomotionJS,'docomotionJS/apps/css/wrap-bootstrap.css')}" rel="stylesheet" type="text/css" />
        <link href="{!URLFOR($Resource.DocomotionJS,'docomotionJS/VF17/css/style.css')}" rel="stylesheet" type="text/css" />

        <div ng-app="gDriveApp" class="wrap">
            <div ng-controller="GdriveCtrl">
                <script>
                    var retFunc;
                    var setParams = function(params){
                        console.log('params');
                        console.log(params);
                        if(window.$){
                            var scope = $('[ng-controller="GdriveCtrl"]').scope();
                            scope.$apply(function(){
                                scope.setFileSettings(params);
                                scope.init();
                            })
                        }
                    };
                    var setReturnFunction = function(myRetFunction){
                        retFunc = myRetFunction;
                    };


                </script>
                <div class="main-page-header">
                    <div class="back-icon" ng-click="moveBack()" ng-hide="folderLevel== 0"></div>
                    <div class="add-folder-icon" ng-click="toggleNewFolderView()"></div>
                    <div class="new-folder-input" ng-show="showNewFolderSection">                      
                        <span class="new-folder-text">Folder Name :</span>
                        <input type="text" class="input-group" ng-model="newFolderText"/>
                        <span class="glyphicon glyphicon-ok small-btn ok" ng-click="createNewFolder()"/>
                        <span class="glyphicon glyphicon-remove small-btn cancel" ng-click="toggleNewFolderView()"/>
                    </div>
                </div>
                <div class="table-wrapper">
                    <div class="table-scroll">
                        <table class="table">
                            <thead>
                                <tr class="table-headers">
                                    <th>Type</th>
                                    <th>File name</th>
                                    <th>Modified Date</th>
                                    <th>Created Date</th>
                                </tr>
                            </thead>
                                <tbody ng-show="!isLoading">
                                    <tr ng-repeat="file in currentFolderfiles | filter : fileFilter | orderBy : filesSort" class="table-row" ng-class="{'selectedRow' : selectedFileId === file.id}" ng-click="fileClickHandler(file)">
                                        <td><span class="{{getIconByFileType(file)}} table-cell" /></td>
                                        <td ng-bind="file.name" class="file-name table-cell" />
                                        <td class="table-cell">{{file.modifiedTime | date: 'dd MM.yyyy - HH:mm'}}</td>
                                        <td class="table-cell">{{file.createdTime  | date: 'dd MM.yyyy - HH:mm'}}</td>
                                    </tr>
                                </tbody>
                        </table>
                    </div>
                </div>
                <div class="gloader" ng-show="isLoading"/>
                <div class="buttons-section">
                    <div class="path-text">Path: <span class="drive-path" ng-bind="path" ng-show="!isLoading"/></div>
                    <div class="path-file">File: <input type="text" ng-model="newFileText" ng-disabled="selectedFileId"/><span>.{{fileFilterType}}</span></div>
                    <div class="bottom-buttons pull-right" ng-show="!showOverRide">
                        <input class="btn btn-primary google-button" type="button" value="Ok" ng-disabled="!newFileText" ng-click="ok()"/>
                        <input class="btn btn-primary google-button button-cancel" type="button" value="Cancel" onclick="$.fancybox.close();" />
                    </div>
                    <div class="overide-section" ng-show="showOverRide">
                            <span> Overwrite file ?</span>
                            <span class="glyphicon glyphicon-ok overide-ok" ng-click="saveFile()"/>
                            <span class="glyphicon glyphicon-remove overide-cancel" ng-click="cancelOveride()" />
                    </div>
                </div>
       
            </div>
        </div>
        <script>
            angular.module('gDriveApp').constant('settings', {
			    NSField : '{!nsField}',
			    NSClass : '{!nsClass}'
		    });
        </script>
</apex:page>