<apex:page standardController="Interactive_Fields_Collection__c">
    <apex:sectionHeader title="{!$ObjectType.Interactive_Fields_Collection__c.Label} {!$Label.doco__edit}" subtitle="{!IF(ISNULL(Interactive_Fields_Collection__c.Id),'New '+$ObjectType.Interactive_Fields_Collection__c.Label,Interactive_Fields_Collection__c.Name)}"/>
    <apex:form >
        <apex:pageBlock title="{!$Label.doco__form_edit}">
            <apex:pageBlockButtons >
                <apex:commandButton value="{!$Label.doco__save}" action="{!save}"/>
                <apex:commandButton value="{!$Label.doco__cancel}" action="{!cancel}"/>
            </apex:pageBlockButtons>
            <apex:PageBlockSection title="{!$ObjectType.Interactive_Fields_Collection__c.Label} {!$Label.doco__detail}" columns="1">
                <apex:inputFIeld value="{!Interactive_Fields_Collection__c.Name}" required="true"/>
                <apex:inputField value="{!Interactive_Fields_Collection__c.Description__c}" style="width:75%"/>
            </apex:PageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>